In [1]:
import pandas as pd 

fed_files = ["MORTGAGE30US.csv", "RRVRUSQ156N.csv", "CPIAUCSL.csv" ]

dfs = [pd.read_csv(f,parse_dates=True, index_col=0)for f in fed_files]

In [2]:
dfs[0]

                  MORTGAGE30US
observation_date
1971-04-02                7.33
1971-04-09                7.31
1971-04-16                7.31
1971-04-23                7.31
1971-04-30                7.29
...                        ...
2025-12-31                6.15
2026-01-08                6.16
2026-01-15                6.06
2026-01-22                6.09
2026-01-29                6.10

[2862 rows x 1 columns]

In [3]:
dfs[1]

                  RRVRUSQ156N
observation_date
1956-01-01                6.2
1956-04-01                5.9
1956-07-01                6.3
1956-10-01                5.8
1957-01-01                5.3
...                       ...
2024-07-01                6.9
2024-10-01                6.9
2025-01-01                7.1
2025-04-01                7.0
2025-07-01                7.1

[279 rows x 1 columns]

In [4]:
dfs[2]

                  CPIAUCSL
observation_date
1947-01-01          21.480
1947-02-01          21.620
1947-03-01          22.000
1947-04-01          22.000
1947-05-01          21.950
...                    ...
2025-08-01         323.364
2025-09-01         324.368
2025-10-01             NaN
2025-11-01         325.031
2025-12-01         326.030

[948 rows x 1 columns]

In [5]:
fed_data = pd.concat(dfs, axis=1)

In [6]:
fed_data

                  MORTGAGE30US  RRVRUSQ156N  CPIAUCSL
observation_date
1947-01-01                 NaN          NaN     21.48
1947-02-01                 NaN          NaN     21.62
1947-03-01                 NaN          NaN     22.00
1947-04-01                 NaN          NaN     22.00
1947-05-01                 NaN          NaN     21.95
...                        ...          ...       ...
2025-12-31                6.15          NaN       NaN
2026-01-08                6.16          NaN       NaN
2026-01-15                6.06          NaN       NaN
2026-01-22                6.09          NaN       NaN
2026-01-29                6.10          NaN       NaN

[3723 rows x 3 columns]

In [7]:
fed_data.tail(50)

                  MORTGAGE30US  RRVRUSQ156N  CPIAUCSL
observation_date
2025-04-10                6.62          NaN       NaN
2025-04-17                6.83          NaN       NaN
2025-04-24                6.81          NaN       NaN
2025-05-01                6.76          NaN   320.580
2025-05-08                6.76          NaN       NaN
2025-05-15                6.81          NaN       NaN
2025-05-22                6.86          NaN       NaN
2025-05-29                6.89          NaN       NaN
2025-06-01                 NaN          NaN   321.500
2025-06-05                6.85          NaN       NaN
2025-06-12                6.84          NaN       NaN
2025-06-18                6.81          NaN       NaN
2025-06-26                6.77          NaN       NaN
2025-07-01                 NaN          7.1   322.132
2025-07-03                6.67          NaN       NaN
2025-07-10                6.72          NaN       NaN
2025-07-17                6.75          NaN       NaN
2025-07-24                6.74          NaN       NaN
2025-07-31                6.72          NaN       NaN
2025-08-01                 NaN          NaN   323.364
2025-08-07                6.63          NaN       NaN
2025-08-14                6.58          NaN       NaN
2025-08-21                6.58          NaN       NaN
2025-08-28                6.56          NaN       NaN
2025-09-01                 NaN          NaN   324.368
2025-09-04                6.50          NaN       NaN
2025-09-11                6.35          NaN       NaN
2025-09-18                6.26          NaN       NaN
2025-09-25                6.30          NaN       NaN
2025-10-01                 NaN          NaN       NaN
2025-10-02                6.34          NaN       NaN
2025-10-09                6.30          NaN       NaN
2025-10-16                6.27          NaN       NaN
2025-10-23                6.19          NaN       NaN
2025-10-30                6.17          NaN       NaN
2025-11-01                 NaN          NaN   325.031
2025-11-06                6.22          NaN       NaN
2025-11-13                6.24          NaN       NaN
2025-11-20                6.26          NaN       NaN
2025-11-26                6.23          NaN       NaN
2025-12-01                 NaN          NaN   326.030
2025-12-04                6.19          NaN       NaN
2025-12-11                6.22          NaN       NaN
2025-12-18                6.21          NaN       NaN
2025-12-24                6.18          NaN       NaN
2025-12-31                6.15          NaN       NaN
2026-01-08                6.16          NaN       NaN
2026-01-15                6.06          NaN       NaN
2026-01-22                6.09          NaN       NaN
2026-01-29                6.10          NaN       NaN

In [8]:
fed_data = fed_data.ffill()

In [9]:
fed_data.tail(50)

                  MORTGAGE30US  RRVRUSQ156N  CPIAUCSL
observation_date
2025-04-10                6.62          7.0   320.321
2025-04-17                6.83          7.0   320.321
2025-04-24                6.81          7.0   320.321
2025-05-01                6.76          7.0   320.580
2025-05-08                6.76          7.0   320.580
2025-05-15                6.81          7.0   320.580
2025-05-22                6.86          7.0   320.580
2025-05-29                6.89          7.0   320.580
2025-06-01                6.89          7.0   321.500
2025-06-05                6.85          7.0   321.500
2025-06-12                6.84          7.0   321.500
2025-06-18                6.81          7.0   321.500
2025-06-26                6.77          7.0   321.500
2025-07-01                6.77          7.1   322.132
2025-07-03                6.67          7.1   322.132
2025-07-10                6.72          7.1   322.132
2025-07-17                6.75          7.1   322.132
2025-07-24                6.74          7.1   322.132
2025-07-31                6.72          7.1   322.132
2025-08-01                6.72          7.1   323.364
2025-08-07                6.63          7.1   323.364
2025-08-14                6.58          7.1   323.364
2025-08-21                6.58          7.1   323.364
2025-08-28                6.56          7.1   323.364
2025-09-01                6.56          7.1   324.368
2025-09-04                6.50          7.1   324.368
2025-09-11                6.35          7.1   324.368
2025-09-18                6.26          7.1   324.368
2025-09-25                6.30          7.1   324.368
2025-10-01                6.30          7.1   324.368
2025-10-02                6.34          7.1   324.368
2025-10-09                6.30          7.1   324.368
2025-10-16                6.27          7.1   324.368
2025-10-23                6.19          7.1   324.368
2025-10-30                6.17          7.1   324.368
2025-11-01                6.17          7.1   325.031
2025-11-06                6.22          7.1   325.031
2025-11-13                6.24          7.1   325.031
2025-11-20                6.26          7.1   325.031
2025-11-26                6.23          7.1   325.031
2025-12-01                6.23          7.1   326.030
2025-12-04                6.19          7.1   326.030
2025-12-11                6.22          7.1   326.030
2025-12-18                6.21          7.1   326.030
2025-12-24                6.18          7.1   326.030
2025-12-31                6.15          7.1   326.030
2026-01-08                6.16          7.1   326.030
2026-01-15                6.06          7.1   326.030
2026-01-22                6.09          7.1   326.030
2026-01-29                6.10          7.1   326.030

In [10]:
zillow_files = ["Metro_median_sale_price_uc_sfrcondo_sm_week.csv" , "Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv"]

In [11]:
dfs = [pd.read_csv(f) for f in zillow_files]

In [12]:
dfs[0]

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-02-23,2008-03-01,2008-03-08,2008-03-15,2008-03-22,...,2025-10-11,2025-10-18,2025-10-25,2025-11-01,2025-11-08,2025-11-15,2025-11-22,2025-11-29,2025-12-06,2025-12-13
0,102001,0,United States,country,NaN,169725.0,169725.0,171100.0,172350.0,174625.0,...,361250.0,363500.0,364750.0,364750.0,366000.0,366250.0,365725.0,361975.0,362725.0,360725.0
1,394913,1,"New York, NY",msa,NY,399164.0,398914.0,395454.0,391250.0,390000.0,...,652300.0,652300.0,653550.0,656675.0,658125.0,661875.0,665625.0,662500.0,663750.0,661250.0
2,753899,2,"Los Angeles, CA",msa,CA,467750.0,470000.0,470000.0,468500.0,458625.0,...,960438.0,960438.0,949188.0,935438.0,930000.0,935750.0,936000.0,942250.0,938750.0,936750.0
3,394463,3,"Chicago, IL",msa,IL,216750.0,216375.0,213000.0,211500.0,214750.0,...,324000.0,327250.0,329313.0,327938.0,330438.0,330438.0,328875.0,325688.0,326938.0,328938.0
4,394514,4,"Dallas, TX",msa,TX,136250.0,137000.0,140750.0,141500.0,141919.0,...,379655.0,380625.0,380750.0,379500.0,377375.0,374125.0,376075.0,373181.0,376220.0,374970.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,394720,268,"Janesville, WI",msa,WI,NaN,NaN,NaN,NaN,NaN,...,259025.0,244063.0,254050.0,256975.0,261725.0,270975.0,283488.0,276813.0,285438.0,294688.0
211,395079,274,"Sebastian, FL",msa,FL,NaN,NaN,NaN,NaN,NaN,...,348500.0,348500.0,340688.0,345313.0,351813.0,371813.0,372750.0,373125.0,362750.0,346500.0
212,394639,280,"Grand Junction, CO",msa,CO,NaN,NaN,NaN,NaN,NaN,...,407269.0,401706.0,400081.0,409650.0,385875.0,393875.0,404125.0,392288.0,396963.0,381838.0
213,394685,289,"Homosassa Springs, FL",msa,FL,NaN,NaN,NaN,NaN,NaN,...,260413.0,259038.0,253175.0,257875.0,265125.0,262000.0,262250.0,254500.0,245900.0,259650.0
214,394674,467,"Heber, UT",msa,UT,NaN,NaN,NaN,NaN,NaN,...,1206845.0,1169345.0,1164345.0,1103095.0,1059797.0,1078547.0,1034797.0,971047.0,1076250.0,1152546.0

In [13]:
dfs = [pd.DataFrame(df.iloc[0,5:]) for df in dfs]

In [14]:
dfs[0]

                   0
2008-02-23  169725.0
2008-03-01  169725.0
2008-03-08  171100.0
2008-03-15  172350.0
2008-03-22  174625.0
...              ...
2025-11-15  366250.0
2025-11-22  365725.0
2025-11-29  361975.0
2025-12-06  362725.0
2025-12-13  360725.0

[930 rows x 1 columns]

In [15]:
dfs[1]

                        0
2000-01-31  120438.319923
2000-02-29  120650.209537
2000-03-31  120912.983858
2000-04-30  121476.583196
2000-05-31  122125.218463
...                   ...
2025-08-31  355166.149594
2025-09-30  355403.981336
2025-10-31  355831.508982
2025-11-30  356496.909241
2025-12-31  357275.367233

[312 rows x 1 columns]

In [16]:
for df in dfs:
    df.index = pd.to_datetime(df.index)
    df["month"] = df.index.to_period("M")

In [17]:
dfs[1]

                        0    month
2000-01-31  120438.319923  2000-01
2000-02-29  120650.209537  2000-02
2000-03-31  120912.983858  2000-03
2000-04-30  121476.583196  2000-04
2000-05-31  122125.218463  2000-05
...                   ...      ...
2025-08-31  355166.149594  2025-08
2025-09-30  355403.981336  2025-09
2025-10-31  355831.508982  2025-10
2025-11-30  356496.909241  2025-11
2025-12-31  357275.367233  2025-12

[312 rows x 2 columns]

In [18]:
price_data = dfs[0].merge(dfs[1], on="month")

In [19]:
price_data.index = dfs[0].index

In [20]:
price_data

                 0_x    month            0_y
2008-02-23  169725.0  2008-02  199185.647275
2008-03-01  169725.0  2008-03  197862.153363
2008-03-08  171100.0  2008-03  197862.153363
2008-03-15  172350.0  2008-03  197862.153363
2008-03-22  174625.0  2008-03  197862.153363
...              ...      ...            ...
2025-11-15  366250.0  2025-11  356496.909241
2025-11-22  365725.0  2025-11  356496.909241
2025-11-29  361975.0  2025-11  356496.909241
2025-12-06  362725.0  2025-12  357275.367233
2025-12-13  360725.0  2025-12  357275.367233

[930 rows x 3 columns]

In [21]:
del price_data["month"]
price_data.columns=["price", "value"]

In [22]:
price_data

               price          value
2008-02-23  169725.0  199185.647275
2008-03-01  169725.0  197862.153363
2008-03-08  171100.0  197862.153363
2008-03-15  172350.0  197862.153363
2008-03-22  174625.0  197862.153363
...              ...            ...
2025-11-15  366250.0  356496.909241
2025-11-22  365725.0  356496.909241
2025-11-29  361975.0  356496.909241
2025-12-06  362725.0  357275.367233
2025-12-13  360725.0  357275.367233

[930 rows x 2 columns]